.container {
  background-color: #aaa;
  height: 100px;
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;

  .preview {
    height: 100%;
    min-width: 165px;
  }

  .label {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
}